body {
    /* padding-top: 3rem; */
    padding-bottom: 3rem;
    background-color:rgb(96 71 49);
}

.navbarCustom {
    background-color: #2c1f16;
    color:antiquewhite;
    border-bottom-left-radius: .375rem;   
    border-bottom-right-radius: .375rem;  
}

.navbarCustom a {
    color:antiquewhite;
}


.contentbgCustom {
    background-color: #d8b194;
    border: 0px;  
    border-radius: .375rem;  
}

.footerCustom {
    background-color: #2c1f16;
    color:antiquewhite;
    border: 0px;  
    border-top-left-radius: .375rem;   
    border-top-right-radius: .375rem;
}

.card
{
    background-color: #dda878;
}

.cardCustom {
    min-height: 420px;
}


